 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 603px;
}

.u-section-1 .u-group-1 {
  width: 372px;
  min-height: 86px;
  margin: 108px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 14px;
  padding-right: 14px;
}

.u-section-1 .u-image-1 {
  width: 77px;
  height: 85px;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -60px 0 0 121px;
}

.u-section-1 .u-group-2 {
  width: 950px;
  min-height: 295px;
  margin: -13px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  font-family: "Fredoka One";
  font-size: 4.5rem;
  font-weight: 700;
  margin: 47px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 718px;
  margin: 7px auto 14px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  text-shadow: 0 0 0 rgba(0,0,0,0);
  border-style: none;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: none;
  align-self: center;
  margin: 0 0 0 auto;
  padding: 15px 39px 15px 38px;
}

.u-section-1 .u-btn-2 {
  text-shadow: 0 0 0 rgba(0,0,0,0);
  border-style: none;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: 1px;
  text-transform: none;
  margin: -58px auto 0 0;
  padding: 15px 58px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 58px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 39px;
    padding-left: 38px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-2 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 645px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.1875rem;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 176px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 29px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 38px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 123px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 4px;
  }
} .u-section-2 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 157px auto 0;
  padding: 6px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 566px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 168px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 33px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 467px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 128px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 358px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 114px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 154px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 163px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 38px;
  }
} .u-section-3 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 157px auto 0;
  padding: 6px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 566px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-3 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
    margin-top: 168px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 33px;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 467px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 128px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 358px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 114px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 637px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 154px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 438px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 163px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
  }
} .u-section-4 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 157px auto 0;
  padding: 6px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1399px) {
   .u-section-4 {
    min-height: 566px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-4 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
    margin-top: 168px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 33px;
  }
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 467px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 128px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 358px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 114px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 637px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 154px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 438px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 163px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 38px;
  }
} .u-section-5 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 167px auto 0;
  padding: 10px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1399px) {
   .u-section-5 {
    min-height: 566px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-5 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
    margin-top: 168px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 33px;
  }
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 467px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 128px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 358px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 114px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 637px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 154px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 438px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 163px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 38px;
  }
} .u-section-6 {
  min-height: 655px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 167px auto 0;
  padding: 4px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-6 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1399px) {
   .u-section-6 {
    min-height: 566px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-6 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
    margin-top: 168px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 33px;
  }
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 467px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 128px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 358px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 114px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 637px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 154px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 438px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 163px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 38px;
  }
} .u-section-7 {
  min-height: 655px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-icon-1 {
  height: 60px;
  width: 60px;
  background-image: none;
  margin: 167px auto 0;
  padding: 6px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-7 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 21px auto 0;
}

@media (max-width: 1399px) {
   .u-section-7 {
    min-height: 566px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 566px;
  }

  .u-section-7 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
    margin-top: 168px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 33px;
  }
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 467px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 128px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 358px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 114px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 49px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 39px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 637px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 154px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 47px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 438px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 485px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 163px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 38px;
  }
}