 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-1 .u-shape-1 {
  width: 1088px;
  height: 918px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 690px;
  height: 691px;
  object-position: 0% 50%;
  background-position: 7% 50%;
  background-image: url("images/mariana-salimena-swamp-artstation.jpg");
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -854px 115px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 227px;
  height: 227px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -35px 73px 0 auto;
}

.u-section-1 .u-group-1 {
  background-image: none;
  width: 524px;
  min-height: 441px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -470px auto 60px 17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 8px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 2px auto 0 32px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  margin: 20px 32px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  margin: 32px auto 0 32px;
  padding: 18px 49px 18px 48px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-1 {
    width: 691px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: 30px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 26px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 16px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-group-1 {
    min-height: 769px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 0;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 22px;
    margin-right: 20px;
    margin-left: 52px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1224px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  margin: 70px auto 0 36px;
}

.u-section-2 .u-shape-1 {
  width: 832px;
  height: 747px;
  margin: 137px auto 0 52px;
}

.u-section-2 .u-shape-2 {
  width: 672px;
  height: 555px;
  margin: -852px 0 0 auto;
}

.u-section-2 .u-image-1 {
  height: 524px;
  background-image: url("images/nws_5.jpg");
  background-position: 47.14% 50%;
  width: 543px;
  margin: -625px 61px 0 auto;
}

.u-section-2 .u-group-1 {
  background-image: none;
  width: 568px;
  min-height: 442px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -205px auto 60px 99px;
}

.u-section-2 .u-container-layout-1 {
  padding: 17px 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-weight: bold;
  margin: 44px -22px 0;
}

.u-section-2 .u-group-2 {
  min-height: 82px;
  width: 400px;
  margin: 106px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  width: 199px;
  margin: 0 auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    width: 524px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    width: 720px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-2 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-2 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-3 .u-group-1 {
  width: 822px;
  min-height: 740px;
  margin: 80px auto 0 36px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-shape-1 {
  width: 740px;
  height: 700px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 570px;
  background-image: url("images/Minecraft-Java-and-Bedrock-Editions-have-been-released-on-Xbox-Game-Pass-for-PC-in-November.jpeg");
  background-position: 50% 50%;
  margin: -665px auto 0 85px;
}

.u-section-3 .u-group-2 {
  background-image: none;
  width: 540px;
  min-height: 449px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  margin: -338px 178px 60px auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 24px 40px 5px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: bold;
  font-family: Oswald, sans-serif;
  margin: 11px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 6rem;
  width: 281px;
  margin: 57px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-group-1 {
    width: 813px;
    min-height: 732px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-3 .u-group-2 {
    width: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1024px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-shape-1 {
    width: 680px;
  }

  .u-section-3 .u-image-1 {
    width: 535px;
    height: 535px;
    margin-left: 52px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    height: 597px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    width: 447px;
    height: 447px;
    margin-top: -534px;
    margin-left: 28px;
  }

  .u-section-3 .u-group-2 {
    width: 437px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-left: 0;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.75rem;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 103px;
    margin-right: -76px;
    margin-left: 136px;
  }
}