.u-section-1 .u-sheet-1 {
  min-height: 1404px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 629px;
  margin: 29px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 1018px;
  height: 891px;
  margin: 301px 41px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 1019px;
  height: 860px;
  margin: -1095px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 973px;
  height: 675px;
  object-position: 23.77% 50%;
  margin: -808px 0 0 auto;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  width: 684px;
  margin: -103px auto 60px 96px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  min-height: 388px;
  grid-gap: 15px 15px;
}

.u-section-1 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 0 0 1px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 45px auto 0;
  padding: 10px 48px;
}

.u-section-1 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 0 0 1px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 45px auto 0;
  padding: 10px 48px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1407px;
  }

  .u-section-1 .u-image-1 {
    object-position: 0% 50%;
  }

  .u-section-1 .u-list-1 {
    width: 1030px;
    margin-top: -224px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
    min-height: 425px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 16px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1384px;
  }

  .u-section-1 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 652px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: -201px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-1 .u-shape-1 {
    width: 720px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 499px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -48px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 799px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1106px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 374px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 77px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1158px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 967px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
    width: 340px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 235px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1219px;
  }
}